////////////////////
/////Variables/////
//////////////////
$line-color: #ABB7C5
$red: #D0021B
$brand-blue: #0070D2
$card-border: #E0E5EE
$card-background: #F4F6F9

///////////////////////
/////Media Breaks/////
/////////////////////
$break-small: 680px
$break-medium: 1000px
$break-large: 1260px

// Supported Size Ranges:
// * handhelds, except-handhelds
// * small-screens, except-small-screens, to-small-screens, above-small-screens
// * medium-screens, except-medium-screens, above-medium-screens
// * large-screens, except-large-screens
// Use:
// @include media(handhelds, large-screens)

@mixin media($sizes...)

	@each $size in $sizes
		@if $size == handhelds
			@media only screen and (max-width: $break-small - 1)
				@content

		@else if $size == except-handhelds
			@media only screen and (min-width: $break-small)
				@content

		@else if $size == small-screens
			@media only screen and (min-width: $break-small) and (max-width: $break-medium - 1)
				@content

		@else if $size == except-small-screens
			@media only screen and (max-width: $break-small - 1)
				@content
			@media only screen and (min-width: $break-medium)
				@content

		@else if $size == to-small-screens
			@media only screen and (max-width: $break-medium - 1)
				@content

		@else if $size == above-small-screens
			@media only screen and (min-width: $break-medium)
				@content

		@else if $size == medium-screens
			@media only screen and (min-width: $break-medium) and (max-width: $break-large - 1)
				@content

		@else if $size == except-medium-screens
			@media only screen and (max-width: $break-medium - 1)
				@content
			@media only screen and (min-width: $break-large)
				@content

		@else if $size == to-medium-screens
			@media only screen and (max-width: $break-large - 1)
				@content

		@else if $size == above-medium-screens
			@media only screen and (min-width: $break-large)
				@content

		@else if $size == large-screens
			@media only screen and (min-width: $break-large)
				@content

		@else if $size == except-large-screens
			@media only screen and (max-width: $break-large - 1)
				@content

/////////////////
/////Resets/////
///////////////
@font-face
    font-family: 'Salesforce Sans'
    src: url('../fonts/SalesforceSans-Regular.ttf')

#root
    height: 100%

*
	margin: 0
	padding: 0
	border: none
	border-radius: none

html, body
	height: 100%
	font-family: 'Salesforce Sans', 'Open Sans', sans-serif
	color: #3e3e3c

input, select, textarea, button, a
	outline: none
	font-family: inherit
	box-sizing: border-box

textarea
	-webkit-overflow-scrolling: touch

body
	zoom: 1
	position: relative
	width: 100

a
	color: #3e3e3c
	img
		outline-color: none
	&:hover
		text-decoration: none

p
	font-size: 16px
	line-height: 24px
	font-weight: 300

/////////////////
/////Layout/////
///////////////
.fullHeight
    height: 100%

.app-container
    margin: 130px 20px 20px 20px
    height: calc(100% + 90px)

.app-container-card
    min-width: 1080px
    height: 100%

.map-container
    display: flex
    justify-content: space-between
    height: 100%

.right-panel
    width: 35%
    padding-left: 20px
    .slds-card
        max-width: 500px
        min-width: 350px


///////////////
/////Tree/////
/////////////
.tree
    position: relative
    overflow-y: scroll
    overflow-x: visible
    width: 100%

/////////////////
/////Levels/////
///////////////
%standard-card
    border: 1px solid #D8DDE6
    background: #F4F6F9
    padding: 1rem 1rem 0 1rem
    border-radius: 4px
    width: 195px

.parent-level
    @extend %standard-card
    position: relative

.child-level
    position: absolute
    left: 15rem
    &:before

.child-level:not(:first-child)
    top: 0
    &:before
        position: absolute
        content: ""
        width: 2.4rem
        border-top: 2px solid $line-color
        left: -4.5rem
        top: 2rem

.child-level .child-container
    @extend %standard-card
    position: relative
    margin-bottom: 20px

    &:before
        position: absolute
        content: ""
        width: 2.2rem
        border-top: 2px solid $line-color
        left: -2.2rem
        top: 1.91rem

    .container-header
        display: flex
        text-transform: capitalize
        position: relative
        padding-bottom: 12px

        h4
            font-size: 16px
            margin-left: 8px

        &.collapse-header:after
            content: none

//Allow header to extend to lower node
.child-level .child-container .container-header:after
    position: absolute
    content: ""
    height: 144%
    border-left: 2px solid $line-color
    left: -3.2rem
    top: 1rem

/////////////////
/////Branch/////
///////////////
.branch
    position: relative

    &:before
        position: absolute
        content: ""
        width: 3.2rem
        border-top: 2px solid $line-color
        left: -3.2rem
        top: 1.9rem

    &:after
        position: absolute
        content: ""
        height: 100%
        border-left: 2px solid $line-color
        left: -3.2rem
        top: 2rem

.last-node:after
    content: none

//Allow the last child on the first container with multi-nodes
//to reach the second container
.child-level .child-container:first-of-type .branch:last-child
    &:after
        height: 160%

.first-branch
    &:before
        content: none
    &:after
        content: none

///////////////
/////Node/////
/////////////
.node
    padding-bottom: 12px

.first-node
    padding-bottom: 12px

.node-button
    display: flex
    width: 10rem
    position: relative
    height: 4rem
    padding: .75rem .5rem
    background: #ffffff
    border: $card-border 1px solid
    border-radius: 4px

    .slds-icon_container
        height: 18px
        width: 18px
        vertical-align: middle
    svg
        vertical-align: top

    .node-name
        font-size: 14px

    .node-role
        font-size: 12px
        color: $line-color
        display: block

//Node Focus
.node.active .node-button
    border: rgba(0,112,210,1) 1px solid
    box-shadow: 0px 0px 5px 0px rgba(0,112,210,1)

///////////////////////
/////Edit Buttons/////
/////////////////////
%round-button
    border-radius: 50%
    text-align: center
    top: -12px
    width: 1.5rem
    height: 1.5rem
    z-index: 5
    padding: 0

    svg
        position: absolute
        width: .7rem
        height: .7rem
        left: -6px
        top: -13px
        fill: $brand-blue

    span
        position: relative

.slds-button.circle-button-edit
    @extend %round-button
    border: 1px solid $brand-blue
    left: 105px

.slds-button.circle-button-add
    @extend %round-button
    border: 1px solid $brand-blue
    left: 135px

.slds-button.circle-button-extender
    @extend %round-button
    top: 50%
    transform: translateY(-50%)
    right: -10px
    line-height: 1

////////////////////
/////Data Card/////
//////////////////
.right-panel .slds-media__figure
    margin-right: 0

.card-data
    display: flex
    flex-wrap: wrap
    justify-content: space-between

    .info
        width: 45%
        span
            padding-top: 0

.slds-form-element__label
    font-size: 12px
    color: #706E6B

.slds-form-element__static
    font-size: 13px
    padding-top: 0

.card-team
    width: 100%
    .slds-form-element__label
        font-size: 14px
        color: #0076E0

    .slds-form-element__static
        font-size: 12px
        padding: 0

.team-container
    display: flex
    margin-bottom: 8px

///////////////////
/////Pop Over/////
/////////////////
.map-popOver
    left: 115%
    top: 10%

    .slds-popover
        width: 14rem

    .slds-popover__body
        padding: 32px 16px 26px 16px

.map-popOver-row
    display: flex
    justify-content: space-between

    &:not(:first-child)
        margin-top: 20px

    .number
        font-weight: bold

.map-popOver-media
    display: flex

/////////////////
/////States/////
///////////////
.hide
    opacity: 0

.crud-hide
    display: none

///////////////////////////
/////Other Overwrites/////
/////////////////////////
.slds-icon-standard-contact
    background-color: #00D2BE !important

.fill-white
    svg
        fill: #fff

.slds-button_neutral
    text-align: left


////////////////////////////
//////handle last nodes////
//////////////////////////

.child-level .child-level .child-container:last-child .branch:last-child:after
    height: 0


.first-branch > .child-level > .child-container:last-child > div > .branch:last-child:after
    height: 0
