#root {
  height: 100%;
  padding: 80px; }

* {
  margin: 0;
  padding: 0;
  border: none;
  border-radius: none; }

html, body {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  color: #3e3e3c; }

input, select, textarea, button, a {
  outline: none;
  font-family: inherit;
  box-sizing: border-box; }

textarea {
  -webkit-overflow-scrolling: touch; }

body {
  zoom: 1;
  position: relative;
  width: 100; }

a {
  color: #3e3e3c; }

a img {
  outline-color: none; }

a:hover {
  text-decoration: none; }

p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 300; }

.tree {
  position: relative; }

.level {
  margin-left: 14rem;
  position: relative;
  opacity: 1;
  transition: all .2s ease; }

.level:before {
  content: "";
  width: 2rem;
  border-top: 2px solid #ABB7C5;
  position: absolute;
  left: -64px;
  top: 50%; }

.branch {
  position: relative;
  min-height: 6rem; }

.branch:before {
  content: "";
  height: 100%;
  border-left: 2px solid #ABB7C5;
  position: absolute;
  left: -2rem; }

.branch:after {
  content: "";
  width: 2rem;
  border-top: 2px solid #ABB7C5;
  position: absolute;
  left: -32px;
  top: 50%; }

.branch:first-child:before {
  width: 10px;
  height: 50%;
  top: 50%;
  margin-top: 2px; }

.branch:first-child:after {
  height: 10px; }

.branch:only-child:before {
  content: none; }

.branch:only-child:after {
  height: 10px; }

.branch:last-child:before {
  width: 10px;
  height: 50%; }

.branch:last-child:after {
  height: 10px;
  border-top: none;
  border-bottom: 2px solid #ABB7C5;
  margin-top: -8px; }

.node {
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -28px; }

.first-node {
  position: absolute;
  top: 33%; }

.slds-button.circle-button-remove, .slds-button.circle-button-edit, .slds-button.circle-button-add {
  border-radius: 50%;
  top: -17px;
  width: 1.5rem;
  height: 1.5rem;
  z-index: 5;
  padding: 0; }

.slds-button.circle-button-remove svg, .slds-button.circle-button-edit svg, .slds-button.circle-button-add svg {
  width: .7rem;
  height: .7rem;
  left: -5px;
  top: -5px; }

.slds-button.circle-button-remove {
  border: 1px solid #D0021B;
  left: 80px; }

.slds-button.circle-button-edit {
  border: 1px solid #0070D2;
  left: 105px; }

.slds-button.circle-button-add {
  border: 1px solid #0070D2;
  left: 135px; }

.tree .node-button {
  width: 10rem;
  height: 4rem; }

.hide {
  transition: all .2s ease;
  opacity: 0; }
