////////////////////
/////Variables/////
//////////////////
$line-color: #ABB7C5
$red: #D0021B
$brand-blue: #0070D2

///////////////////////
/////Media Breaks/////
/////////////////////
$break-small: 680px
$break-medium: 1000px
$break-large: 1260px

// Supported Size Ranges:
// * handhelds, except-handhelds
// * small-screens, except-small-screens, to-small-screens, above-small-screens
// * medium-screens, except-medium-screens, above-medium-screens
// * large-screens, except-large-screens
// Use:
// @include media(handhelds, large-screens)

@mixin media($sizes...)

	@each $size in $sizes
		@if $size == handhelds
			@media only screen and (max-width: $break-small - 1)
				@content

		@else if $size == except-handhelds
			@media only screen and (min-width: $break-small)
				@content

		@else if $size == small-screens
			@media only screen and (min-width: $break-small) and (max-width: $break-medium - 1)
				@content

		@else if $size == except-small-screens
			@media only screen and (max-width: $break-small - 1)
				@content
			@media only screen and (min-width: $break-medium)
				@content

		@else if $size == to-small-screens
			@media only screen and (max-width: $break-medium - 1)
				@content

		@else if $size == above-small-screens
			@media only screen and (min-width: $break-medium)
				@content

		@else if $size == medium-screens
			@media only screen and (min-width: $break-medium) and (max-width: $break-large - 1)
				@content

		@else if $size == except-medium-screens
			@media only screen and (max-width: $break-medium - 1)
				@content
			@media only screen and (min-width: $break-large)
				@content

		@else if $size == to-medium-screens
			@media only screen and (max-width: $break-large - 1)
				@content

		@else if $size == above-medium-screens
			@media only screen and (min-width: $break-large)
				@content

		@else if $size == large-screens
			@media only screen and (min-width: $break-large)
				@content

		@else if $size == except-large-screens
			@media only screen and (max-width: $break-large - 1)
				@content

/////////////////
/////Resets/////
///////////////
#root
    height: 100%
    padding: 50px

*
	margin: 0
	padding: 0
	border: none
	border-radius: none

html, body
	height: 100%
	font-family: 'Open Sans', sans-serif
	color: #3e3e3c

input, select, textarea, button, a
	outline: none
	font-family: inherit
	box-sizing: border-box

textarea
	-webkit-overflow-scrolling: touch

body
	zoom: 1
	position: relative
	width: 100

a
	color: #3e3e3c
	img
		outline-color: none
	&:hover
		text-decoration: none

p
	font-size: 16px
	line-height: 24px
	font-weight: 300

/////////////////
/////Layout/////
///////////////
.container
    @include media(above-small-screens)
        display: flex
        justify-content: space-between

.right-panel
    @include media(above-small-screens)
        width: 30%
        padding-left: 20px

    @include media(small-screens)
        display: flex
        justify-content: space-between

///////////////
/////Tree/////
/////////////
.tree
    position: relative
    overflow-y: scroll
    width: 100%


.level
    margin-left: 14rem
    position: relative
    opacity: 1
    transition: all .2s ease
    &:before
        content: ""
        width: 2rem
        border-top: 2px solid $line-color
        position: absolute
        left: -64px
        top: 50%

.branch
    position: relative
    min-height: 6rem
    &:before
        content: ""
        height: 100%
        border-left: 2px solid $line-color
        position: absolute
        left: -2rem
    &:after
        content: ""
        width: 2rem
        border-top: 2px solid $line-color
        position: absolute
        left: -32px
        top: 50%

.branch:first-child
    &:before
        width: 10px
        height: 50%
        top: 50%
        margin-top: 2px

    &:after
        height: 10px

.branch:only-child
    &:before
        content: none

    &:after
        height: 10px

.branch:last-child
    &:before
        width: 10px
        height: 50%

    &:after
        height: 10px
        border-top: none
        border-bottom: 2px solid $line-color
        margin-top: -8px

.node
    position: absolute
    left: 0
    top: 50%
    margin-top: -28px

.first-node
    position: absolute
    top: 50%
    transform: translateY(-50%)

///////////////
/////Node/////
/////////////

%round-button
    border-radius: 50%
    top: -17px
    width: 1.5rem
    height: 1.5rem
    z-index: 5
    padding: 0

    svg
        width: .7rem
        height: .7rem
        left: -5px
        top: -5px

.slds-button.circle-button-remove
    @extend %round-button
    border: 1px solid $red
    left: 80px

.slds-button.circle-button-edit
    @extend %round-button
    border: 1px solid $brand-blue
    left: 105px

.slds-button.circle-button-add
    @extend %round-button
    border: 1px solid $brand-blue
    left: 135px

.tree .node-button
    width: 10rem
    height: 4rem
    button
        font-size: 15px
        padding: 0 .3rem
.hide
    transition: all .2s ease
    opacity: 0

.crud-hide
    display: none