#root {
  height: 100%;
  padding: 50px; }

* {
  margin: 0;
  padding: 0;
  border: none;
  border-radius: none; }

html, body {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  color: #3e3e3c; }

input, select, textarea, button, a {
  outline: none;
  font-family: inherit;
  box-sizing: border-box; }

textarea {
  -webkit-overflow-scrolling: touch; }

body {
  zoom: 1;
  position: relative;
  width: 100; }

a {
  color: #3e3e3c; }

a img {
  outline-color: none; }

a:hover {
  text-decoration: none; }

p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 300; }

@media only screen and (min-width: 1000px) {
  .container {
    display: flex;
    justify-content: space-between; } }

@media only screen and (min-width: 1000px) {
  .right-panel {
    width: 30%;
    padding-left: 20px; } }

@media only screen and (min-width: 680px) and (max-width: 999px) {
  .right-panel {
    display: flex;
    justify-content: space-between; } }

.parent-level, .child-level {
  border: 1px solid #D8DDE6;
  background: #F4F6F9;
  padding: 1rem; }

.tree {
  position: relative;
  overflow-y: scroll;
  height: 600px;
  width: 100%; }

.parent-level {
  position: relative;
  width: 190px; }

.child-level {
  position: absolute;
  left: 14rem; }

.child-level:not(:first-child) {
  top: 0; }

.child-level .container {
  position: relative; }

.child-level .container:before {
  position: absolute;
  content: "";
  width: 4rem;
  border: 1px solid #ABB7C5;
  left: -5rem;
  top: .5rem; }

.branch {
  position: relative; }

.slds-button.circle-button-remove, .slds-button.circle-button-edit, .slds-button.circle-button-add {
  border-radius: 50%;
  top: -17px;
  width: 1.5rem;
  height: 1.5rem;
  z-index: 5;
  padding: 0; }

.slds-button.circle-button-remove svg, .slds-button.circle-button-edit svg, .slds-button.circle-button-add svg {
  width: .7rem;
  height: .7rem;
  left: -5px;
  top: -5px; }

.slds-button.circle-button-remove {
  border: 1px solid #D0021B;
  left: 80px; }

.slds-button.circle-button-edit {
  border: 1px solid #0070D2;
  left: 105px; }

.slds-button.circle-button-add {
  border: 1px solid #0070D2;
  left: 135px; }

.node-button {
  width: 10rem;
  height: 4rem;
  font-size: 11px;
  padding: .3rem; }

.branch .node {
  margin-top: 12px; }

.hide {
  transition: all .2s ease;
  opacity: 0;
  display: none; }

.crud-hide {
  display: none; }
